* {
  box-sizing: border-box;
}

a {
  text-decoration: none
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-container {
  background: url("./car.webp");
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header-container {
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: max(1rem, 2vw);
}

.nav-replace {
  display: none;
}

.nav-container {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: clamp(300px, 800px)
}

.nav-container ul {
  display: flex;
}

.nav-container li {
  margin: 0.5rem 0.5rem;
}

.nav-container a {
  color:black;
  display: flex;
  font-size: max(1rem, 2vw);
}

.drop-down {
  display: none;
  position: absolute;
  top: 45px;
  z-index: 0;
  padding: max(0.5rem, 0.25vw);
  height: auto; 
  width: auto;
  background-color:  rgb(235, 198, 167); 
}

.app-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.app-info li {
  font-size: max(1rem, 1vw);  
}

.app:hover .drop-down{
  display: block;
}

.title-container {
  width: clamp(400px, 50%, 700px);
  margin: max(5vw, 25px);
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
}

.title-container h1 {
  font-size: max(3rem, 2vw);
  color: rgb(140, 67, 45);
}

.title-container p {
  font-size: max(2rem, 2vw)
}

.appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 198, 167);
  color: rgb(140, 67, 45);
}


.main-footer {
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(235, 198, 167);
}

@media screen and (max-width: 1024px) {
  
  .logo-container {
    font-size: max(0.8rem, 0.5vw);
  }
  .nav-container a {
    font-size: max(0.8rem, 0.5vw);
  }
  
  .app-info li {
    font-size: max(0.8rem, 0.5vw);  
  }

  .title-container h1 {
    font-size: max(1.2rem, 1vw);
  }

  .title-container p {
    font-size: max(1rem, 1vw)
  }

  .main-footer {
    font-size: max(0.5rem, 0.5vw)
  }
}

@media screen and (max-width: 480px) {
  .nav-container{
    display: none;
  }

  .nav-replace {
    display: flex;
  }

    .app-info li {
    font-size: max(0.5rem, 0.5vw);  
  }

  .title-container h1 {
    font-size: max(0.5rem, 1vw);
  }

  .title-container p {
    font-size: max(0.8rem, 1vw)
  }

}